nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-family: "inter", Arial, Helvetica, sans-serif;
    color: white;
    user-select: none;
    span{
        font-weight: bold;
        font-size: 22px;
    }ul{
        display: flex;
        flex-direction: row;
        li{
            padding: 20px 150px 20px 150px;
        }
    }
}